<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Edit Profile</h4>
          </div>
          <div class="content">
            <form [formGroup]="updateUser" (ngSubmit)="update()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" value={{user.email}}>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Company" value={{user.firstName}} formControlName="firstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" value={{user.lastName}} formControlName="lastName">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Home Address" value="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="City" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" placeholder="Country" value="Tunisia">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input type="number" class="form-control" placeholder="ZIP Code">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="5" class="form-control" placeholder="Here can be your description"
                      value=""></textarea>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="user.role === 'student'">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Grade</label>
                    <input type="text" class="form-control" placeholder="Grade" value={{user.grade}} formControlName="grade">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Student Card Number</label>
                    <input type="text" class="form-control" placeholder="Country" value={{user.numCarteEtudiant}} formControlName="numCarteEtudiant">
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="user.role === 'professor'">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" value={{user.subject}} formControlName="subject">
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="user.role === 'agent'">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Agent role</label>
                    <input type="text" class="form-control" placeholder="Agent Role" value={{user.agentRole}} formControlName="grade">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>